#qrcode{
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 50%;
    top: -250px;
    /*background-color: #E9E0DB;*/
    /*text-align: center;*/
}

#qrcode img {
    width: 200px;
}


p.password strong
{
    font-size: 16px;
    background-color: #c3c3c3;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
}
