
/* ---------- TYPOGRAPHY ---------- */
body {
  font: 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #1f2225;
}
p a {
  color: #2a9ccc;
}
p a:hover {
  color: #1f2225;
}
h1,
h2 {
  font-family: Georgia, serif;
  margin-bottom: 1em;
}
h1 {
  font-size: 2em;
  line-height: 3em;
}
h2 {
  font-size: 1.2em;
  line-height: 1.5em;
}
/* ---------- LAYOUT ---------- */
.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.timer-area {
  background: transparent url('../images/timer-area-pattern.png') left top;
  text-align: center;
  padding-top: 2em;
  margin-bottom: 4em;
}
.timer-area h1 {
  color: white;
}
/* ---------- BUTTON ---------- */
#submitButton {
  margin: 1em auto;
  overflow: hidden;
  border-radius: 13px;
}

/* ---------- TIMER ---------- */
ul#countdown li {
  display: inline-block;
  background: transparent url('../images/timer-piece.png') no-repeat left top;
  width: 104px;
  margin-bottom: 4em;
  text-align: center;
}
ul#countdown li span {
  font-size: 3em;
  font-weight: bold;
  color: #1f2225;
  height: 108px;
  line-height: 108px;
  position: relative;
}
ul#countdown li span::before {
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid white;
  position: absolute;
  top: 31px;
}
ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
  margin-top: 1em;
  color: #909091;
  text-transform: uppercase;
  font-size: .875em;
}
#reservation p{
  padding-bottom: 2em;
  color: #8B8C8F;
}
